NODE_ENV=development
PORT=5000
DB_URL=db_url
BCRYPT_SALT_ROUND=12
JWT_ACCESS_SECRET=access_token_secret
JWT_ACCESS_SECRET_EXPIRES_IN=any_day
JWT_REFRESH_SECRET=refresh_token_secret
JWT_REFRESH_SECRET_EXPIRES_IN=any_day
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
STORE_ID=aamarpaytest
SIGNATURE_KEY=dbb74894e82415a2f7ff0ec3a97e4183
PAYMENT_URL=https://sandbox.aamarpay.com/jsonpost.php
VERIFY_URL=https://sandbox.aamarpay.com/api/v1/trxcheck/request.php
FrontEnd_URL=http://localhost:3000
Backend_URL=http://localhost:5000